
<div class="p-4 max-w-sm bg-white rounded-lg border shadow-md sm:p-6 dark:bg-gray-800 dark:border-gray-700 content-center">
<h3 class="mb-3 text-base font-semibold text-gray-900 lg:text-xl dark:text-white">
Your Work
</h3>
<p class="text-sm font-normal text-gray-500 dark:text-gray-400">Connect with one of our available wallet providers or create a new one.</p>
<ul class="my-4 space-y-3">
<li>
<a href="#" class="flex items-center p-3 text-base font-bold text-gray-900 bg-gray-50 rounded-lg hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
</svg>
<span class="flex-1 ml-3 whitespace-nowrap"><%= work.hours%></span>
</a>
</li>
<li>
<a href="#" class="flex items-center p-3 text-base font-bold text-gray-900 bg-gray-50 rounded-lg hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
</svg>
<span class="flex-1 ml-3 whitespace-nowrap"><%= work.learn%></span>
</a>
</li>
<li>
<a href="#" class="flex items-center p-3 text-base font-bold text-gray-900 bg-gray-50 rounded-lg hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
</svg>
<span class="flex-1 ml-3 whitespace-nowrap"><%= work.health%></span>
</a>
</li>
</ul>
<div>

<div class="flex justify-around">
<%= link_to 'See more detail?', work_path(work), class: 'inline-flex items-center text-xs font-normal text-gray-500 hover:underline dark:text-gray-400' %>

<%= link_to 'Edit?', edit_work_path(work), class: 'inline-flex items-center text-xs font-normal text-gray-500 hover:underline dark:text-gray-400' %>

<%= button_to 'Delete?', work_path(work), class: 'inline-flex items-center text-xs font-normal text-gray-500 hover:underline dark:text-gray-400 ', method: :delete %>
</div>

</div>
</div>
